{
  "extends": "airbnb",
  "rules": {
    "object-curly-spacing": "off"
  },
  "env": {
    "jasmine": true
  },
  "overrides": [
    {
      "files": [
        "src/**/*.spec.js"
      ],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
